
/**
 *  Queries
 */

 $break-small: "only screen and (max-width : 650px)";

/**
 *  Colors
 */

// Palette of Colourlovers
// Url: http://www.colourlovers.com/palette/2561968/Okok

$pink: rgb(238,209,134);
$red: rgb(163,37,18);
$mustard : rgb(189,136,44);
$blody-rust : rgb(143,10,10);
$black : rgb(8,8,8);