
/**
 *  Imports
 */

@import "normalize";
@import "base-styles";
@import "base";

// Compass

@import "compass/css3";

/**
 *  Styles
 */

 ul {
    color: $blody-rust;
 }

#main-header {
    overflow: hidden;
    background-color: black;
  }

  #main-nav {
    float: rigth;

    ul { padding: 0; }

    li {
        @include inline-block;

        @media #{$break-small} {
            width: 50%;
            float: left;
            text-align: center;
        }
    }
}

/**
 *  Other imports
 */

//@import "helper-classes";
//@import "boilerplate-queries";
@import "print";
